body{
  display: block;
}
.ps-timeline-sec {
  position: relative;
  background: #fff;
}
.ps-timeline-sec .container {
  position: relative;
}

.ps-timeline-sec .container ol:before {
  background: #662E77;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 8px;
  top: 49.4%;
}
.ps-timeline-sec .container ol:after {
  background: #662E77;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  right: 8px;
  top: 49.4%;
}

.ps-timeline-sec .container ol.ps-timeline li svg{   
  height: 50px;
  width: 50px;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-top, .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
  padding: 20px 10px 15px 10px;
  /* border: 2px solid gray;
  border-top: none; */
  background: linear-gradient(180deg, rgba(255,255,255,0.7232876712328767) 0%, rgba(69,0,89,1) 100%);
  color:#ffffff;    
  border-radius: 0px  0px  5px  5px;
  transition: 0.5s;
  transform: scaleX(1.2), scaleY(1.2);
  min-width: 140px;        
  display: inline-block;  
}

.ps-timeline-sec .container ol.ps-timeline {
  margin: 390px 0;
  padding: 0;
  border-top: 2px solid #662E77;
  list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline li {
  float: left;
  width: 16.66%;
  padding-top: 30px;
  position: relative;
}
.ps-timeline-sec .container ol.ps-timeline li span {
  width: 60px;
  height: 60px;
  padding-top: 6px;
  margin-left: -30px;
  background: #ffffff;
  border: 4px solid #450059;
  border-radius: 50%;
  box-shadow: 0 0 0 0px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #ff7850;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: -30px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
  content: "";
  color: #662E77;
  width: 2px;
  height: 50px;
  background: #662E77;
  position: absolute;
  top: -50px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
  content: "";
  color: #662E77;
  width: 8px;
  height: 8px;
  background: #662E77;
  position: absolute;
  bottom: 95px;
  left: 43%;
  border-radius: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
  content: "";
  color: #662E77;
  width: 2px;
  height: 50px;
  background: #662E77;
  position: absolute;
  bottom: -50px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
  content: "";
  color: #662E77;
  width: 8px;
  height: 8px;
  background: #662E77;
  position: absolute;
  top: 95px;
  left: 43%;
  border-radius: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
  width: 100%;  
  text-align: center;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
/* .ps-timeline-sec .container ol.ps-timeline li .ps-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}
.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
  position: absolute;
  margin-top: 35px;
} */

@media only screen and (max-width: 767px) {
  
  .ps-timeline-sec .container ol:before {
    background: #662E77;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 130px !important;
    left: 47px !important;
  }
  .ps-timeline-sec .container ol:after {
    background: #662E77;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit !important;
    left: 47px;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    margin: 130px 0 !important;
    border-left: 2px solid #662E77;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 36px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li {
    height: 220px;
    float: none !important;
    width: inherit !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:nth-child(6) .img-handler-bot h3 {
    margin: auto;
    margin-left: 0; 
  }
  .ps-timeline-sec .container ol.ps-timeline li:nth-child(6) .img-handler-bot svg{
    margin-right: 30px;
  }
  /* .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
    width: 70px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
    bottom: 40px !important;
    width: 40% !important;
    margin-left: 25px !important;
    margin-top: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
    width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
    margin-bottom: 0 !important;
    top: 20px;
    width: 50% !important;
  } */
  .ps-timeline-sec .container ol.ps-timeline li span {
    left: -1px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
    display: flex;    
    position: absolute !important;
    bottom: 200px !important;
    vertical-align: middle;
    /* width: auto !important; */
    float: left !important;
    margin-left: 90px !important;
    margin-bottom: 0 !important;    
  }  
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
    display: flex;
    position: absolute !important;
    bottom: 200px !important;
    /* width: auto !important; */
    float: left !important;
    margin-left: 90px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top, .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
    padding: 10px 30px 10px 20px;
    border: 2px solid gray;
    background: gray;
    color:#ffffff;    
    border-radius: 5px  5px  5px  0px;
    width: 320px;
    height: 90px;
    transition: 0.5s;
    transform: scaleX(1.2), scaleY(1.2);        
  } 

  .ps-timeline-sec .container ol.ps-timeline li svg{   
    margin-top: 10px; 
    float:left;
    display:flex;
    margin-right: 40px;
    height: 50px;
    width: 50px;
  }
  .ps-timeline-sec .container ol.ps-timeline li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-top {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
}